:root {
  --white: white;
}

.lds-dual-ring {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: calc(50% - 2.5rem);
  top: 40%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--white);
  border-color: var(--white) transparent var(--white) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
