.ending {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;

  animation-name: ending-showing;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.end-cont {
  margin-top: 5%;
  display: inline-block;
  left: 110%;
  position: absolute;
  height: 80%;
}

.end-img {
  height: 100%;
  animation: float 7s infinite ease-in-out;
  border-radius: 1rem;
}

.not-dis > .end-img {
  transition: box-shadow 0.5s;
  box-shadow: 0px 0px 7px 4px rgba(255, 255, 255, 0.7);
}

.not-dis:active > .end-img {
  transition: box-shadow 0.5s;
  box-shadow: 0px 0px 4px 4px rgba(0, 255, 215, 1);
}

.appear {
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.15, 0.67, 0, 0.98);
}

.extin {
  animation-name: extin;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes extin {
  from {
    opacity: 1;
    cursor: default;
    left: 33%;
  }
  to {
    opacity: 0;
    cursor: default;
    left: -50%;
  }
}

@keyframes appear {
  from {
    cursor: default;
    left: 110%;
    opacity: 0;
    transform: rotate(-15deg);
  }
  to {
    left: 33%;
    opacity: 1;
    cursor: pointer;
    transform: rotate(0deg);
  }
}

@keyframes ending-showing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
