body {
  background-color: #0d0d0d;

  font-family: "Bellota Text", cursive;

  /*font-family: 'Amatic SC', cursive;*/
}

.answers {
  left: 40%;
  top: 10%;
  height: 65%;
  width: 60%;
  font-size: 2rem;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}
