body {
  /*background-color: #0d0d0d;*/

  font-family: "Bellota Text", cursive;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*font-family: 'Amatic SC', cursive;*/
}

.answers {
  right: 0;
  top: 15%;
  height: 60%;
  width: calc(20% + 25rem);
  font-size: 2rem;
  position: absolute;
  overflow-y: auto;

  /* perspective: 15rem;*/
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: gray;
}
