.dialog-box {
  background-color: black;
  color: white;
  width: 80%;

  height: 6rem;
  left: 10%;
  bottom: 0;
  position: absolute;
}

.phrase-interface {
  display: flex;
  overflow: hidden;
}

.phrase-hiding {
  animation-name: hiding;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.phrase-text {
  animation-name: showing;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.phrase-content {
  align-self: flex-end;
  padding-left: 2rem;
  padding-right: 2rem;
}

@keyframes showing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hiding {
  from {
    max-height: 100%;
  }
  to {
    opacity: 0;
    max-height: 0%;
  }
}

.text-p {
  color: hotpink;
}

.text-c {
  color: deepskyblue;
}
