.dialog-box {
  color: white;
  width: 100%;
  height: 25%;

  background-color: rgba(0, 0, 0, 0.9);

  bottom: 0;
  position: absolute;
  font-size: 1.5rem;

  overflow-y: scroll;
  overflow-x: hidden;
}

.phrase-interface {
  display: flex;
  margin-bottom: 1rem;
}

.phrase-hiding {
  animation-name: hiding;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.phrase-text {
  margin-top: 0.5rem;
  animation-name: showing;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.phrase-content {
  width: 100%;
  align-self: flex-end;
  padding-left: 8%;
  padding-right: 8%;
}

@keyframes showing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hiding {
  from {
    max-height: 100%;
  }
  to {
    opacity: 0;
    max-height: 0%;
  }
}

.text-p {
  color: hotpink;
}

.text-c {
  color: deepskyblue;
}

.bal-text {
  opacity: 0;
}
