
.answer {
  cursor: default;
  padding: 1rem;
  display: inline-block;
  min-width: 4rem;


  color: #d9d9d9;
  transition: color 0.3s;
  text-align: left;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
}

.answer:hover {
  color: #fff;
}

.answer:active {
  color: #80dfff;
}

.disabled {
  animation-name: dis;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.undisabled {
  animation-name: undis;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes undis {
  from {
    opacity: 0;
  }
  to {
    cursor: pointer;
    opacity: 1;
  }
}

@keyframes dis {
  from {
    cursor: pointer;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
